<% breadcrumb :beuseful %>
<div class="section-beus"><h2>United24</h2>
    <img class="image-beus" src="/U24.png" alt="Фонд">
    <p class="description-beus">Платформа дозволяє за один клік зробити благодійний внесок на підтримку України з будь-якого куточка світу. Чому це важливо? Тому що Україна краще знає, що саме їй потрібно. Жоден благодійний фонд, яким би системним він не був, не може задовольнити потреби такої великої країни, як Україна. Однак ми можемо зробити це разом.

UNITED24 створена для співпраці з благодійними фондами, партнерами, донорами та публічними особами у всьому світі.

Наша мета — побудувати ефективну роботу, яка наблизить перемогу України.</p>
    <a class="support-button" href="#">Підтримати</a>
</div>

<div class="section-beus"><h2>Фонд Притули</h2>
    <img class="image-beus" src="/spf.png" alt="Фонд">
    <p class="description-beus">Благодійний фонд Сергія Притули опікується посиленням Сил Оборони України, а також допомогою цивільному населенню, яке постраждало від російської агресії. Понад 200 волонтерів та робітників фонду працюють щодня, щоб кожна ваша гривня перетворювалась на цінну допомогу Україні. У кожного з них своя історія приєднання до команди. Волонтери з досвідом, громадські активісти, спеціалісти у різних галузях – всі прийшли у фонд, щоб бути корисними Україні та українцям у вирішальний момент історії нашої країни.</p>
    <a class="support-button" href="#">Підтримати</a>
</div>

<div class="section-beus"><h2>Повернись живим</h2>
    <img class="image-beus" src="/pzh.png" alt="Фонд">
    <p class="description-beus">«Повернись живим» — це фонд компетентної допомоги армії, а також — громадська організація, яка займається аналітикою у секторі безпеки та оборони, реалізує проєкти з реабілітації ветеранів через спорт.

Із 2014 року наша ключова мета — зробити Сили оборони ефективнішими, зберегти життя військових та системно протидіяти ворогові. Від початку повномасштабного вторгнення у лютому 2022-го ми збільшили допомогу армії в рази і підтримуємо захисників України, які змінили своє звичне життя та вийшли на лінію оборони.</p>
    <a class="support-button" href="#">Підтримати</a>
</div>
<div class="section-beus"><h2>Підтримати нас</h2>
    <img class="image-beus" src="/donateme.webp" alt="Фонд">
    <p class="description-beus">Підтримайте розвиток контенту про канабіс в Україні! Нам потрібна ваша підтримка для створення і поширення якісної інформації про канабіс та його переваги. Разом ми зможемо збільшити обізнаність і сприяти розвитку цієї промисловості в Україні. Долучайтесь до нас вже сьогодні! Заздалегідь вдячні Вам)</p>
    <a class="support-button" href="#">Підтримати</a>
</div>
