<h2>Strains</h2>

<div id="strains">
  <% @strains.each do |strain| %>
    <p>
    <h4>
      <%= link_to strain.name, strain_path(strain) %> від <%= strain.manufacturer.name %> 
    </h4>
  </p>
  <% end %>
</div>

<h2>Articles</h2>

<div id="strains">
  <% @articles.each do |article| %>
    <p>
    <h4>
      <%= link_to article.name, article_path(article) %>
    </h4>
  </p>
  <% end %>
</div>

