/*
 *= require_tree .
 *= require_self
 *= require material_icons
 */
 /* Reset стилі для забезпечення спільної основи */

  .logo {
    text-align: center;
  }

  .logo span {
    font-size: 42px;
  }

  a.link-li {
    color: #ffaa00;
    border-color: #ffaa00;
    border: 2px solid;
    border-radius: 10px;

  }
   
  a.link-gr {
    color: green;
    border-color: green;
    border: 2px solid;
    border-radius: 10px;

  }

  a.link-us {
    color: red;
    border-color: red;
    border: 2px solid;
    border-radius: 10px;

  }

/* Стилі beuseful*/
  .section-beus {
    border: 2px solid;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }

  .image-beus {
    max-width: 200px;
  }

  .description-beus {
    margin-top: 20px;
  }

  .support-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: solid 2px black;
    }

/* Інші стилізації, зображення, кнопки, і т.д. */

  .str-icon {
    max-width: 36px;
  }

  nav ul li[role=list] > a::after {
  background-image: none;
  content: none;
  }

